<footer style="background-color: rgb(18, 33, 61); color: white; padding: 20px 0; margin-top: 200px;">
  <div class="container">
    <div class="row">
      <!-- Marcas patrocinadoras -->
      <div class="col-md-4">
        <h5>Marcas Patrocinadoras</h5>
        <ul style="list-style: none; padding: 0;">
          <li>Samsung</li>
          <li>Logitech</li>
          <li>Intel</li>
          <li>AMD</li>
        </ul>
      </div>
      <!-- Enlaces -->
      <div class="col-md-4">
        <h5>Enlaces</h5>
        <ul style="list-style: none; padding: 0;">
          <li>
            <a routerLink="/quienessomos" style="color: white; text-decoration: none;">Quiénes somos</a>
          </li>
          <li>
            <a routerLink="/productos" style="color: white; text-decoration: none;">Productos</a>
          </li>
          <li>
            <a routerLink="/contacto" style="color: white; text-decoration: none;">Contáctanos</a>
          </li>
        </ul>
      </div>
      <!-- Contáctanos -->
      <div class="col-md-4">
        <h5>Contáctanos</h5>
        <p>Email: contacto&#64;tienda.com</p>
        <p>Teléfono: +51 987 654 321</p>
        <p>Dirección: Av. Tecnológica 123, Lima, Perú</p>
      </div>
    </div>
    <hr style="background-color: white; margin: 20px 0;" />
    <!-- Derechos reservados -->
    <div class="text-center">
      <p style="margin: 0;">© 2025 Proyecto Integrador - Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
