<app-header></app-header>
<div class="container mt-5">
  <div class="row" style="margin-top: 100px;">
    <!-- Formulario de Compra -->
    <div class="col-md-8">
      <h2 style="margin-bottom: 50px;">Formulario de Compra</h2>
      <form>
        <div class="mb-3">
          <input type="text" class="form-control" id="direccion" [(ngModel)]="direccion" name="direccion" required placeholder="Dirección" />
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" id="distrito" [(ngModel)]="distrito" name="distrito" required placeholder="Distrito" />
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" id="nombre-receptor" [(ngModel)]="nombreReceptor" name="nombreReceptor" required placeholder="Nombre del receptor" />
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" id="referencia" [(ngModel)]="referencia" name="referencia" placeholder="Referencia" />
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" id="telefono" [(ngModel)]="telefono" name="telefono" required placeholder="Teléfono" />
        </div>
        <button type="button" class="btn btn-success" (click)="confirmarCompra()">Confirmar compra</button>
        <button type="button" class="btn btn-danger ms-2" (click)="cancelarCompra()">Cancelar</button>
      </form>
    </div>
    <!-- Resumen del Pedido -->
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">Resumen del Pedido</div>
        <div class="card-body">
          <ul class="list-group mb-3">
            <li class="list-group-item" *ngFor="let item of cartItems">
              {{ item.name }} x{{ item.quantity }} - S/.{{ item.price * item.quantity }}
            </li>
          </ul>
          <h5>Total: S/. {{ total }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
